<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fly Job</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>
<body>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h1 style="padding-left: 60px;
text-align: center;">Fly Job</h1>
            <p style="padding-left: 60px;">Provide wings for finding a job</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
       <!--  <div class="input-group">
            <form method="POST" action="{{ url_for('main.search_api') }}">
                <input name="keyword" type="text" class="form-control" placeholder="Search for..."
                       style="width: 1150px;">
                <span class="input-group-btn">
        <button class="btn btn-default" type="submit" style="width: 76px;">Go!</button>
                </span>
            </form>
        </div>
    </div> --><!-- /input-group -->
    {% for keyword in keyword_list %}
        {{ keyword[0]}}

    {% endfor %}
    <div class="col-md-2"></div>
</div>
</body>
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</html>